<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PCT World of Wine</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <link href="sticky-footer-navbar.css" rel="stylesheet"> -->
    <script src="static/common/modernizr.js"></script>
    <script src="static/common/jquery-1.11.1.min.js"></script>
    <script src="static/common/tabletop.js"></script>
    <link type="text/css" rel="stylesheet" href="static/index.css">

    <style>
      body, html, .jumbotron {
        height: 97%;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .footer {
        height: 5%;
      }
    </style>

  
    <!-- Custom styles for this template -->
    <!-- <link href="cover.css" rel="stylesheet"> -->
  </head>
  <body class = "text-center">
    <header>
      <nav class="navbar navbar-expand-md bg-light fixed-top">
      <div>
      <a class="navbar-brand" href="/" >
          <img src="static/images/persiancatteam.jfif" width="25" height="25" class="d-inline-block align-top" alt="">
          Persian Cats' World of Wine
      </a>
      </div>
      </nav>
    </header>

    <div class="jumbotron">
      <!-- rear window -->
      <div class="row"></div>
      <div class='container one'></div>

      <main role="main" class="inner cover text-center">
        <h1 class="cover-heading">Discover wine around the globe.</h1>
        <p class="lead"> We want to take you on a journey to find and view new wines from different regions around the world. 
          Click below to see a map visualizing different wineries and a short summary on their stories! </p>
        <p class="lead">
          <a href="/map" class="btn btn-lg-center btn-secondary text-center">Map of Wine Around the Globe</a>
        </p>
      </main>

    <div class='modal'></div>
    <div class='overlay'></div>

    </div>

  <footer class="footer text-center">
    <div class="inner">
        <p> Wine data visualization by <a href="https://github.com/baokiddy/project_3_persiancats.git">Persian Cats Team</a>.</p>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>


      <script>
      function randomNumbers(min,max)
      {
          return Math.floor(Math.random()*(max-min+1)+min);
      }
      $container1 = $(".one");
      for(var i = 0; i < 82; i++){
        
        $img = $("<div>").addClass("item rear-window").attr("data-order", i);
        $container1.append($img);
      }
      var idx1 = 1;
      $(".rear-window").each(function() {
          
          $(this).css({left: (idx1-1) * 15});
          $(this).css("background-image", "url("+"static/images/rear-Window/"+idx1+".png)");
          idx1++;
      });
      $(".item").on("mouseover",function(e) {
          
          var current = $(this).data().order;
          var leftdif = ((current/81)*200)/current;
          var rightdif = (200-((current/81)*200))/(80-current);
          var wid = 15-(200-15)/81;
          $(".item").css({"width": "15px", "-webkit-transform": "translate(0,0)"})
          $(this).css({"width": "215px",  "-webkit-transform": "translate(-"+(current/81)*200+"px,0)"});
          $(this).prevAll(".item").each(function() {$( this ).css({"width": wid+"px", "-webkit-transform": "translate(-"+$(this).data().order*leftdif+"px,0)"});});
          $(this).nextAll(".item").each(function() {$( this ).css({"width": wid+"px", "-webkit-transform": "translate("+(81-$(this).data().order)*rightdif+"px,0)"});});
          console.log(current);
      });
      $(".item").mouseout(function(e) {
        $(".item").css({"width": "15px", "-webkit-transform": "translate(0,0)"});
      });
      </script>

  </footer>

</body>
</html>